@font-face {
  font-family: 'work-sans';
  src: local('work-sans'), url(./fonts/work-sans.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
 }

  html {
    font-size: 14px;
    @apply text-black
  }

  h2 {
    @apply text-2xl font-bold mb-3.5
  }

  h4 {
    @apply text-l font-normal
  }
  /* ... */
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .fill-gray-3 path {
    @apply stroke-gray-3 group-hover:stroke-red;
  }

  .form-wrapper.underline-style {
    input {
      @apply text-gray-4 border-0 text-m border-b border-gray-4 pl-0 bg-none rounded-none;

      &:focus {
        @apply px-xxm py-l text-l border-gray-4 border rounded outline-0;
      }

      &::placeholder {
        @apply text-gray-4 text-m;
      }
    }
  }

  .stroke-white path {
    stroke: #fff
  }

  .btn-arrow-pointers {
    bottom: 33px;
    right: 8px;

    img {
      filter: invert(26%) sepia(89%) saturate(1641%) hue-rotate(358deg) brightness(104%) contrast(91%);
    }
  }

}
