@font-face {
  font-family: 'work-sans';
  src: local('work-sans'), url(./fonts/work-sans.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
 }

  html {
    font-size: 14px;
  }

  h2 {
    @apply text-2xl font-bold mb-3.5
  }

  h4 {
    @apply text-l font-normal
  }
  /* ... */
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .fill-gray-3 path {
    @apply stroke-gray-3 group-hover:stroke-red
  }

  .stroke-white path {
    stroke: #fff
  }
}